.App {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Title {
  margin: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
}

.start-game {
  width: 200px;
  background-color: none;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: rgba(0, 128, 0, 0.383);
  border: 3px solid white;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 50px;
}

.start-game:hover {
  color: rgb(174, 255, 0);
  cursor: pointer;
  border: 5px solid rgb(194, 253, 68);
  border-radius: 10px;
}

h1 {
  color: rgb(0, 95, 0);
}

.start-game > h1 {
  color: white;
}

#player-name {
  height: 100px;
  width: 300px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 4rem;
  background: none;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
}

::placeholder {
  color: white;
}