
audio {
    width: 100px;
    border-radius: 25px;
    padding-top: 10px;
      
}

audio::-webkit-media-controls-panel {
    background-image: linear-gradient(green, rgb(194, 253, 68), green);

}

audio::-webkit-media-controls-timeline {
  display:none;
    
}


audio::-webkit-media-controls-mute-button {
  display:none !important;
}

audio::-webkit-media-controls-current-time-display{
  display: none;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}
  
audio::-webkit-media-controls-volume-slider {
  display: none !important; 
  }

audio::-webkit-media-controls-mute-button { 
  display: none !important; 
}
  
.testAudio > button {
  margin-top: 20px;
  width: 75px;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(green, rgb(194, 253, 68), green);
  border-radius: 100px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 20px;
}