.cards-display {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cards-display p {
    font-weight: bold;
}

.cards-remaining {
    text-align: center;
    width: 300px;
    height: 50px;
    background-color: rgba(0, 128, 0, 0.383);
    border: 3px solid rgb(194, 253, 68);
    color: white;
    border-radius: 25px;
}

.player-name p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 4rem;
    margin: 16px;
}

.player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cpu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}