.card-front {
    width: 280px;
    height: 440px;
    background-color: black;
    border-radius: 20px;
    color: white;
    margin-left: 10px;
  }
  
  .card-image {
    border-radius: 20px;
    padding-top: 10px;
    background-image: radial-gradient(circle, white, white, white, green, black, black);
  }
  
  .card-border {
    width: 300px;
    height: 460px;
    background-color: green;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px #888888;
  }
  
  .dino-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
  }
  
  .dino-info {
    font-size: 0.75em;
    font-style: italic;
    margin: 0;
    height: 60px;
    padding: 10px 5px 10px 5px;
  }

  .dino-weight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .dino-age {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .dino-age:hover {
    border: solid white 2px;
  }

  .dino-danger {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  button {
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
  }