.card-border {
  width: 400px;
  height: 600px;
  background-image: linear-gradient(to bottom right, green, rgb(194, 253, 68), green);
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 10px #0000008d;
}

.card-front {
  width: 380px;
  height: 580px;
  background-color: black;
  border-radius: 20px;
  color: white;
  margin-left: 10px;
}

.card-image {
  border-radius: 20px;
  padding-top: 10px;
  background-image: radial-gradient(circle, white, white, white, rgb(0, 175, 0), black, black);
}

.dino-name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}

.dino-info {
  font-size: 0.75em;
  font-style: italic;
  margin: 0;
  height: 70px;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dino-weight {
  transition: color 0.3s, transform 1s;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  border: 0.1em solid black;
}

.dino-weight:hover {
  cursor: pointer;
  color: rgb(174, 255, 0);
  animation-name: hoverAnimation;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  border: 0.1em solid;
  border-radius: 10px;
}

.dino-height {
  transition: color 0.3s, transform 1s;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  border: 0.1em solid black;
}

.dino-height:hover {
  cursor: pointer;
  color: rgb(174, 255, 0);
  animation-name: hoverAnimation;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  border: 0.1em solid;
  border-radius: 10px;
}

.dino-length {
  transition: color 0.3s, transform 1s;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  border: 0.1em solid black;
}

.dino-length:hover {
  cursor: pointer;
  color: rgb(174, 255, 0);
  animation-name: hoverAnimation;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  border: 0.1em solid;
  border-radius: 10px;
}

.dino-age {
  transition: color 0.3s, transform 1s;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  border: 0.1em solid black;
}

.dino-age:hover {
  cursor: pointer;
  color: rgb(174, 255, 0);
  animation-name: hoverAnimation;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  border: 0.1em solid;
  border-radius: 10px;
}

.dino-intelligence {
  transition: color 0.3s, transform 1s;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  border: 0.1em solid black;
}

.dino-intelligence:hover {
  cursor: pointer;
  color: rgb(174, 255, 0);
  animation-name: hoverAnimation;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  border: 0.1em solid;
  border-radius: 10px;
}

.dino-danger {
  transition: color 0.3s, transform 1s;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  border: 0.1em solid black;
}

.dino-danger:hover {
  cursor: pointer;
  color: rgb(174, 255, 0);
  animation-name: hoverAnimation;
  animation-duration: 0.75s;
  animation-timing-function: ease;
  border: 0.1em solid;
  border-radius: 10px;
}

@keyframes hoverAnimation {
  0% {
    color: white;
  }

  33% {
    color: rgb(174, 255, 0);
  }

  66% {
    color: white;
  }

  100% {
    color: rgb(174, 255, 0);
  }
}